<head>
<style type="text/css">
  body
  {
    background-image: url("/assets/background-be46514177c0994663f8b29bfd95492c134b0c12e7aac0475d10dcf7f2fbf6ee.jpg");
    background-size: cover;  
    margin-left: 20%;
    margin-right: 20%;
  }

  p.ex1
  {
  	text-indent: 2em;
  	font: 14px/30px arial, sans-serif;
  }

  p.ex2
  {
  	font: italic 13px/30px arial, sans-serif;
  }
    p.ex3
  {
  	font: 13px/30px arial, sans-serif;
  }
</style>
</head>

<h2> 
  关于旅行，关于远方...
</h2>