<head>
<style type="text/css">
  body
  {
    background-image: url("/assets/background-be46514177c0994663f8b29bfd95492c134b0c12e7aac0475d10dcf7f2fbf6ee.jpg");
    background-size: cover;  
    margin-left: 20%;
    margin-right: 20%;

  }
</style>
</head>

<h2> 
  关于旅行，关于远方...
</h2>